@use "partial";

/*Generel styling*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: partial.$font;
    font-size: 22px; 
}

h1, h2, h3{
    font-family: partial.$header-font;
}

h1{
    font-size: 40px;
    text-align: left;
}

h2{
    font-size: 40px;
}

h3{
    font-size: 28px;
}

@media (max-width: 800px) { 
    h1, h2{
        font-size: 32px;
    }
    
    h3{
        font-size: 24px;
    }

}

html{
    height: 100%;
    width: 100%;
    height: 100vh;
    overflow: auto;
}

body{
    background-color: partial.$bg-color;  
  text-align: center;
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: partial.$bg-color;

    ul{
      display: flex;
      justify-content: center;
      list-style: none;
    }
  
    a{
      font-size: 126px;
      text-decoration: none;
      color: rgb(189, 189, 189);
  
        &.active{
          color: rgb(8, 8, 8);
        }
    }

    @media (max-width: 1250px){
        a{
            font-size: 100px;
        }
    }
    @media (max-width: 1000px){
        position: sticky;
        background-color: transparent;
    }
  }

  .btn{
    @include partial.btn;

        &:hover{
            @include partial.btn-hover;
            transition-duration: 0.7s;
        }
    
        @media (max-width: 800px){
            font-size: 16px;
        }
    }


/********************* forsiden *********************/
.hero-section{
    background-image: url(../img/hero.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;

    .contain{
        padding-top: 300px;
        padding-bottom: 100px;
        text-align: left;
        padding-left: 20%;
    }

    .contain .titel{
        position: relative;
        color: black;
        font-size: 75px;
        font-family: partial.$header-font;

        @media (max-width: 1000px) {
             font-size: 50px;
        }

        @media (max-width: 500px){
            font-size: 36px;
        }
    }

    .contain .titel.første-titel{
        color: partial.$text-color;
    }  

}

/**************intro side*************/
.txt-section{
    margin: 0 100px;

    img{
        width: 40%;
        float: right;
        margin-top: 50px;
    }

    h1, p{
        color: partial.$text-color;
    }

    h1{
        text-align: center;
        margin-top: 2rem;
    }

    p{
        text-align: left;
        font-size: 20px;
    }

    .gap{
        margin-left: 50px;
    }

    .space{
        margin-top: 20px;
    }

    .fed{
        font-weight: 800;
        color: black;
    }

    @media (max-width: 800px) {
        h1{
            font-size: 26px;
        }
        p{
            font-size: 16px;
        }

        img{
            float: none;
            width: 100%;
        }
        
        margin: 0 50px;
    }

    @media (max-width: 500px){
        .gap{
            margin-left: 15px;
        }
    }
}

/***************informationsside - fold ud box*********************/
.bg-info{       
    background-image: url(../img/hacker.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    
    @media (max-width: 500px){
        background-image: none;
    }
}

.box-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    margin-top: 150px;
    row-gap: 40px;

    .box{
        background-color: partial.$primary-color;
        opacity: 90%;
        width: 450px;
        height: 100px;
        border-radius: 2px;
        text-align: left;
        cursor: pointer;
        grid-column: 2/3;
        margin-left: auto;
        margin-right: auto;
        
        display: grid;
        grid-template-columns: 5% 10% 80% 5%;
        align-items: center;
        
        img{
            width: 13px;
            grid-column: 2/3;

            &:hover{
                transform: scale(1.5);
            }
        }

        h2{
            font-size: 24px;
            grid-column: 3/4;
        }
    }

    .læring{
            display: none;
        }

    .indhold{
        opacity: 90%;
        width: 450px;
        height: 520px;
        background-color: rgb(122, 122, 122);
        grid-column: 1/2;
        grid-row: 1/5;
        padding: 20px;
        margin-left: auto;
        margin-right: auto;

        p{
            padding-top: 10px;
            text-align: left;

        }

        h2{
            font-size: 28px;
        }
    }

    .box:nth-child(2) {
        grid-column: 2/3; 
        grid-row: 2/3; 
    }

    .box:nth-child(3) {
        grid-column: 2/3; 
        grid-row: 3/4;
    }

    .box:nth-child(4) {
        grid-column: 2/3; 
    }

    @media (max-width: 1000px) {
        margin-top: 20px;
        display: flex;
        flex-direction: column-reverse;

        img{
            rotate: -90deg;
        }
    }
    @media (max-width: 500px) {
        margin-top: 0;
        display: block;
        max-height: auto;
        color: partial.$text-color;

        .box{
            width: 100%;
            height: 100px;
            border-radius: 0px;
            cursor: none;
            color: black;

            h2{font-size: 20px;}
        }

        .læring{
            display: contents;
            text-align: left;
            font-family: partial.$font;
            
            p{
                margin: 20px 20px;
                font-size: 16px;
            }
        }

        .indhold{
            display: none;
        }

    }
    
}



/**************senarie*************/
.senarie{
    h1{
        text-align: center;
        padding-top: 40px;
        color: partial.$text-color;
    }

    .container{
    display: flex;
    flex-direction: column;
    padding: 20px 100px 0 100px;
    align-items: center;
  
      #text{
        width: 75%;
        color: partial.$text-color;
      }
  
      #option-buttons{
        display: flex;
        flex-direction: column;
        width: 60%;
        margin-top: 30px;
        padding: 10px;
        opacity: 90%;
  
          button{
            background-color: rgb(59, 156, 72);
            padding: 20px;
            text-decoration: none;
            border: none;
            cursor: pointer;
          }
      }

  }

  @media (max-width: 1000px){
    h1{
        font-size: 32px;
        padding-top: 20px;
    }

    .container{
        padding: 10px 50px 50px 50px;

        #text{
            width: 85%;
            font-size: 18px;
        }

        #option-buttons{
            width: 90%;
            margin-top: 10px;
            font-size: 18px;
        }

        button{
            padding: 10px;
        }
    }

  }

  @media (max-width: 650px){

    .container{
        padding: 10px 20px 50px 20px;

        #text{
            width: 85%;
            font-size: 18px;
        }

        #option-buttons{
            width: 90%;
            margin-top: 10px;
            font-size: 18px;
        }
    }
  }

  @media (max-width: 500px){
    h1{
        font-size: 22px;
    }

    .container{
        padding: 10px 10px 0 10px;

        #text{
            width: 95%;
            font-size: 16px;
        }

        #option-buttons{
            font-size: 16px;
            margin-top: 20px;

            button{
                padding: 5px;
            }
        }
    }
  }
}

/*********************afslutning******************/
.slutning{
    background-color:  partial.$secondary-color;

    footer{
        background-color:  partial.$secondary-color;
    }
}
.end-section{
    margin: 100px 100px;

    h4{
        font-family: partial.$header-font;
        margin-top: 30px;
    }

    .safety{
        height: 200px;
        padding-bottom: 25px;
    }

    @media (max-width: 1000px){
        margin: 50px 50px;
    }
    @media (max-width: 500px){
        margin: 20px 20px;
    }
}